.price-tables {
  margin: 0px;
  display: flex;
  margin: auto;
  padding: 115px 132px;
  width: 100vw;
  background-color: $bgc-page;
}
.price-card {
  margin-right: 18px;
  position: relative;
  z-index: 1;
  width: 380px;
  height: 770px;
  background-color: $bgc-table;
  overflow: hidden;

  &__popular-label {
    display: flex;
    margin: 0;
    padding: 0;
    width: 122px;
    height: 123px;
    position: relative;
    left: 307px;
    top: -788px;
  }

  &__label-text {
    margin: auto;
    display: block;
    position: relative;
    top: -10px;
    left: -25px;
    width: 100%;
    line-height: 17px;
    transform: rotate(45deg);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    background-color: $bgc-label;
  }

  &:last-child {
    margin-right: 0px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin: 33px 140px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__price {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    width: 380px;
    height: 105px;
  }
  &_basic-bgc {
    background-color: $bgc-basic-table;
  }
  &_business-bgc {
    background-color: $bgc-business-table;
  }
  &_webshop-bgc {
    background-color: $bgc-webshop-table;
  }
  &_basic-price {
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
  }
  &_business-price {
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
  }
  &_webshop-price {
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
  }
  &__description {
    margin: 0px 26px 40px 26px;
    font-weight: 300;
    line-height: 18px;
    font-size: 15px;
    text-align: center;
  }
  &__options-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__options-list-item {
    display: flex;
    align-items: center;
    width: 380px;
    height: 50px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  &__options-list-item:nth-child(odd) {
    background: $bgc-odd-list;
  }
  &__list-text {
    width: 300px;
    line-height: 18px;
  }
  &__checkmark-symbol {
    padding: 18px 22px 19px 22px;
  }
  &__order-btn {
    margin: 39px 113.5px 40px 112px;
    padding: 0;
    width: 155px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $color-text-main;
    border-radius: $border-radius;
    border: none;
  }
}
